@charset "utf-8";

header {
  display: flex;
}
.site-name {
 margin: 20px;
 font-size: 32px;
 font-weight: 600;
 color:#00277E;
}
nav {
   display: flex;
  margin: 20px 20px 0 auto;
  width: 450px;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-around;
}
.page-list a {
  display:inline-block;
  margin: 10px;
  
}
.page-list li {
  color: #00277E;
  display: inline-block;
}

.main-content {
  width: 100%;
  position: relative;
  margin-top: 100px;
}
.main-image {
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 600px;
  z-index: 10;
  top:0;
  padding: 40px 0;
}
.main-image img {
  width:100%;
}
.main-title {
  width: 200vw;
  font-size: 48px;
  font-weight: lighter;
  font-style: italic;
  position: absolute;
  top: 267px;
  color: #000000;
}
.bulu-box {
  background: #00277E;
  width: 80vw;
  height: 30vh;
  margin-bottom: 10px;
  padding: 0 75px;
  position: absolute;
  top: 315px;
}